<p>
  Sehr geehrter Kunde,
  <br />
</p>
<p>
  Ihre Bestellung von <b><%= supplier.name %></b> ist auf dem Weg zu Ihnen und hat soeben das Lager verlassen.
  <br />
</p>
<p>
  Mit freundlichen Grüßen
  <br />
  Ihr Anywize-Team
</p>
<br />